/* #login-modal *{
    border: 0.5px solid black
} */

#login-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); 
}

#login-form {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 15%;
    left: 30%;
    background:#F4F4F4;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#login-form h2 {  
    height: 9%;
    margin-top: 1.5vh;
    font-size: 3vh;
    margin-bottom: 1vh;
}
#login-modal label {
    height: 3%;
    width: 70%;
    box-sizing:border-box;
    margin-bottom: 10px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    font-size: 2.2vh;
}
#login-form input {
    font-size: 2.2vh;
    margin-bottom: 2vh;
    height: 13%;
    width: 70%;
    border-radius: 5px;
    border:1px solid #cccccc;
    outline: none;
    padding-left: 5px; 
    box-sizing:border-box;    
}
#login-form input:nth-of-type(1) {
   margin-bottom: 3vh;
}
.login-buttons {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2vh;
    padding: 0.2vh;
    width: 70%;
    height: 12%;
}
.login-buttons button {    
    width: 47.5%;
    height: 100%;
    border-radius: 5px;
    border:1px solid #cccccc;
    outline: none;
    font-size: 2vh;
}
.login-buttons button:first-child {    
    margin-right: 5%;
}
.login-buttons button:hover {
   background: #3B3939;
   cursor: pointer;
   color:  #DDDDDD;
}


@media (max-width: 900px),(max-height: 768px) {
    #login-form {
        width: 100%;
        height: 91.5%;
        top: 8.5%;
        left: 0%;       
        flex-direction: column;
        align-items: center;
    }
    #login-form h2 {
        font-size: 5vh;
    }
    #login-form label {
        font-size: 4vh;
    }
    #login-form input {
        font-size: 5vh;
    }
    .login-buttons {
        flex-direction: column wrap;
        align-items: center;
        margin-top: 0vh;
    }
    .login-buttons button {
        font-size: 4vh;
        width: 100%;
        margin-top: 5vh;
    }
    .login-buttons button:first-child {
        margin-right: 0%;
    }
}

@media only screen and (min-width: 900px) {
    #login-form {
        width: 40%;
        left: 30%;
    }
}

